{% load static %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>RSS Feed</title>
	</head>
	<body style="background-color:powderblue;">
		<style>
		
		/* Center website */
		.main {
		max-width: 1000px;
		margin: auto;
		}
		
		</style>
		
		<!-- MAIN (Center website) -->
		<div class="main">
			<br>
			<h1 style="font-family:courier;">RSS Feed</h1>
			<hr>
			
			<a href="http://feeds.bbci.co.uk/news/rss.xml" class="btn btn-primary" style="font-family:courier;">View RSS</a>
			
			<p style="font-family:courier;"></p>
			
			
		</body>
	</html>